body{
    
    min-height: 100vh;
    margin: 0;
    background-image: url('../img/fondo1.jpg');
    background-size: cover;
    background-position: center;
    font-family: monospace;
    color: var(--primary-text-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}



#main-header {
    background: #333;
    color: white;
    height: 80px;

    width: 100%;
    /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0;
    /* Posicionamos la cabecera al lado izquierdo */
    top: 0;
    /* Posicionamos la cabecera pegada arriba */
    position: fixed;
    /* Hacemos que la cabecera tenga una posición fija */
}

#main-header a {
    color: white;
}

/*
 * Logo
 */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}


/*
 * Navegación
 */
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #0b76a6;
}

article{
    font-weight: 700;
    max-width: 400px;
    padding: 16px;
    margin: 16px;
    background-color: rgba(0, 0, 0, 0.505);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow:
    0 0 4px 2px rgba(255, 255, 255, 0.5),
    0 0 8px 4px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

img{
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.8);
}

h1,
h2,
p{
    margin: 0;
}

h2,
span{
    color: #0b0b1c;
    font-weight: 400;
}

h1{
    font-size: 22px;
}

h2{
    color: #0b0b1c;
    font-size: 18px;
}

p{
    font-size: 13px;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.skill{
    background-color: #15153b;
    padding: 4px 16px;
    border-radius: 16px;
}

a{
    font-size:24px;
    color: rgb(242, 222, 222);
}


#main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-top: 500px;
    
    width: 100%;
    /* hacemos que la cabecera ocupe el ancho completo de la página */
    top: 1000;
    /* Posicionamos la cabecera pegada arriba */
}

#main-footer p {
    margin: 0;
}

#main-footer a {
    color: white;
}